{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href={% static "mainapp/css/header.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "mainapp/css/gallery.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "mainapp/css/footer.css" %}>
    <style type="text/css">
        html {font-family: "Raleway", sans-serif;}
    </style>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <ul id="menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a id ="current_menu_tab" href="{% url 'gallery' %}">Gallery</a></li>
    </ul>
    <div class="main_wrapper">
        <div class="push"></div>



{#        <img id="main_image" alt="artbook image" src={% static "mainapp/images/gallery_.jpg" %} />#}
{#        <div id="about_text">Something cool is going to be here</div>#}
        <div class="main_content">
            <ul id="imageSet">
                <li>
                    <a href="{% static "mainapp/images/gallery_1.jpg" %}" class="lightbox_trigger">
                        <img class="lightbox_preview_img" src="{% static "mainapp/images/gallery_preview_1.gif" %}" alt="First gallery element"/>
                    </a>
                </li>
                <li>
                    <a href="{% static "mainapp/images/gallery_2.jpg" %}" class="lightbox_trigger">
                        <img class="lightbox_preview_img" src="{% static "mainapp/images/gallery_preview_2.gif" %}" alt="First gallery element"/>
                    </a>
                </li>
                <li>
                    <a href="{% static "mainapp/images/gallery_3.jpg" %}" class="lightbox_trigger">
                        <img class="lightbox_preview_img" src="{% static "mainapp/images/gallery_preview_3.gif" %}" alt="First gallery element"/>
                    </a>
                </li>
            </ul>
     </div>



        <div class="push"></div>
    </div>

    <div id="footer">
        <div id="footer_border"></div>
            <div id="footer_text">
                By visiting this site, you're accepting that JFK was killed by umbrella man
            </div>
    </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src={% static "mainapp/js/lightbox.js" %}></script>
</body>
</html>