{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="shortcut icon" href={% static "mainapp/images/favicon.png" %} type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "mainapp/css/index.css" %}">
    <meta charset="UTF-8">
    <style type="text/css">
        @font-face {
            font-family: 'GoodFoot';
            src: url({% static "mainapp/fonts/goodfoot.ttf" %});
        }
    </style>
    <title>Bastion</title>
</head>
<body>

    <h1 id="title">Bastion</h1>
    <div id="menu">
        <ul>
            <li><a href={% url 'about' %}>About</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'polls' %}">Polls</a></li>
            <li><a href="{% url 'feedback' %}">Feedback</a></li>
        </ul>
    </div>
</body>


</html>