html, body {
    background-color: #191919;
    height: 100%;
    color: #ffffff;
}

.main_wrapper {
    width: 90%;
    min-height: 100%;
    margin: -50px auto -50px;
    border: 1px solid white;
}

#about_text {
    width: 50%;
    margin: 0 auto;
    font-size: 1em;
}

h3 {
    font-weight: 400;
}

a {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}

#main_image {
    display: block;
    /*border: 1px solid white;*/
    margin: 0 auto;
    width: 50%;
    height: auto !important;
    clear: both;
}

.push {
    height: 50px;
    clear: both;
}

@media only screen and (max-device-width: 480px){

    #main_image {
        padding-top: 30px;
        width: 100%;
    }

    #about_text {
        width: 100%;
        font-size: 3em;
    }
}

@media only screen and (max-width: 700px){
    #main_image {
        width: 100%;
    }
    #about_text {
        width: 90%;
        font-size: 1em;
    }
}

@media only screen and (max-width: 480px){
    #main_image {
        width: 100%;
    }
    #about_text {
        width: 100%;
        font-size: 1.3em;
    }
}