#footer {
     clear: both;
     position: relative;
     height: 50px;
    color: white;
    font-size: 0.8em;
    text-align: center;
}

#footer > ul {
    list-style: none;
}

#footer > ul > li{
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 2em;
    display: inline;
    margin:0 20px 20px 0;
}

#footer > ul > li > img{
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
}

#footer_border {
    border-top: 1px solid white;
    width: 70%;
    clear: both;
    margin: 0 auto 10px;
}

#footer_text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-device-width: 480px){
    #footer_text {
        font-size: 2.5em;
    }

    #footer_border {
        width: 90%;
    }
}

@media only screen and (max-width: 650px){

    #footer_text {
        font-size: 1.5em;
    }

    #footer_border {
        width: 90%;
    }
}