html, body {
    background-color: #191919;
    height: 100%;
    color: #ffffff;
}

.main_wrapper {
    width: 90%;
    min-height: 100%;
    margin: -50px auto -50px;
    /*border: 1px solid white;*/
}

#about_text {
    width: 50%;
    margin: 0 auto;
    font-size: 1em;
    /*border: 1px solid white;*/
}

.download_icon {
    width: 20px;
    height: 20px;
}

.question_title {
    font-weight: 400;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    clear: both;
}

.choice_selection_form {
    /*margin: 0 auto;*/
}

input.radio { float:left; clear:none; margin: 2px 0 0 2px; }

/*label { float:left; clear:none; display:block; padding: 2px 1em 0 0; margin: 0, auto }*/


#captcha img, input{
    float: right;
}

#captcha input {
    margin-right: 0;
}

input[type=submit] {
    margin: 0 auto;
    border-style: none;
    background-color: white;

    float: right; position: relative;
    clear: both;
}

.push {
    height: 50px;
    clear: both;
}